/**头部*/
header{
    width: 1180px;
    margin: auto;
    height: 80px;

}
header .logo img{
    float: left;
}
header .head img{
    float: right;

}
/**导航*/
body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,ul,li{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    list-style: none;
}
.one{
    height: 40px;
    background-color: #3b8de3;
}
.two{
    width: 1180px; height: 100%;
    margin: auto;
}
.left{
    width:690px;
    height: 100%;
    float: left;
}
.right{
    float: right;
    width:260px;
    height: 100%;
    background-color: #0185e1;
    position: relative;
}
.two a{
    float: left;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: white;
}
.left a{
    width: 20%;
    height: 100%;

}
.right a{
    width: 33.333333%;
}
.two .left .active{
    color: blue;
    background-color: white;
    border-top: 2px orange solid;
}
.left a:hover{
    color: blue;
    background-color: white;
    border-top: 2px orange solid;
}
.right a:hover{
    background-color: rgb(3,120,201);

}
.back{
    background-image: url("../img/img.png");
    background-repeat: no-repeat;
    background-position: -315px -498px;

}
.sanjiao{
    width: 0; height: 0;
    border-top: white 8px solid;
    border-left: #0185e1 4px solid;
    border-right: #0185e1 4px solid;
    position: absolute;
    right: 2px;
    top: 16px;
}
/*热门城市*/
.hot{
    width: 1180px;
    height: 40px;
    margin: auto;
    line-height: 40px;
    font-size: 13px;
}
.hot .hotcity{

    float: left;
}
.hot .city{
    float: left;
}
.hot .city a{
    text-decoration: none;
    color:#0185e1;
    margin: 0 3px;
}
/*轮播图*/
.whole-pictures{
    width: 100%;
    height: 380px;
    position: relative;
    margin: 0;
}
.whole-pictures .pic1{
    width: 100%;
    height: 380px;
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    z-index: 1;

}
.whole-pictures .pic2{
    width: 100%;
    height: 380px;
    background-image: url("../img/2.png") ;
    background-repeat: no-repeat;
    position: absolute;
    left:0;
    top:0;
    background-position: center;
}
.whole-pictures .but{
    width:100px;
    height: 20px;
    position: absolute;
    right: 210px;
    bottom:10px;
    z-index: 3;
}
.whole-pictures .but .but1{
     width:37px;
     height: 7px;
     background-color: orange;
     float: left;
 }
.whole-pictures .but .but2{
     width:37px;
     height: 7px;
     background-color: #000;
     z-index: 3;
     float: right;
}
/*购票流程*/
.buy{
    width: 1180px;
    height: 80px;
    background-color: rgb(247,247,246);
    margin: auto;
    margin-top: 3px;
}
.buy-left{
    width: 145px;
    height: 80px;
    float: left;
    text-align: center;
    line-height: 80px;
}
.buy-left h1{
    font-size: 18px;
    color: #555555;
    padding-left: 38px;
}
.buy-right{
    width: 1030px;
    height: 80px;
    float: right;
}
.buy-right li{
     width: 25%;
     height: 80px;
     position: relative;
    float: left;
 }
.icon-out-1{
    width:65px;
    height: 65px;
    position: absolute;
    left:10px;
    top: 7.5px;
    background:  url("../img/goupiao.png") no-repeat -163px -130px;
}
.icon-in-1{
    width:40px;
    height: 40px;
    position: absolute;
    left:10px;
    top: 7.5px;
    background: url("../img/goupiao.png") no-repeat -145px -67px;
    transform-origin: 40px 35px;
}

.buy-right-1:hover>.icon-out-1>.icon-in-1{
    animation: icon-in-1 1s linear infinite alternate ;
}
@keyframes icon-in-1 {
    0%{
        transform:rotate(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}
.text-1{
    width: 150px;
    height: 100%;
    position: absolute;
    left: 75px;
}
.text-title-1{
    width: 130px;
    height: 50%;
    font-size: 18px;
    color: #5f9ff1;
    text-align: left;
    line-height: 50px;
}
.text-info-1{
    width: 130px;
    height: 50%;
    font-size: 14px;
    color: #999999;
    text-align: left;

}

.buy-jiantou{
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background:url("../img/goupiao.png") no-repeat -350px -124px;
}
.icon-in-2{
    width:40px;
    height: 40px;
    position: absolute;
    left:22px;
    top: 21px;
    background: url("../img/goupiao.png") no-repeat -210px -80px;
    transform-origin: 10px 10px;
}.text-title-2{
     width: 130px;
     height: 50%;
     font-size: 18px;
     color: #5f9ff1;
     text-align: left;
     line-height: 50px;
 }
.text-info-2{
    width: 130px;
    height: 50%;
    font-size: 14px;
    color: #999999;
    text-align: left;

}
.buy-right-2:hover>.icon-out-1>.icon-in-2{
    animation: icon-in-2 .2s linear infinite alternate ;
}
@keyframes icon-in-2 {
    0%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(-15deg);
    }
}
.icon-in-3{
    width:40px;
    height: 40px;
    position: absolute;
    left:22px;
    top: 21px;
    background: url("../img/goupiao.png") no-repeat -262px -79px;
    transform-origin: 15px 20px;
}
.buy-right-3:hover>.icon-out-1>.icon-in-3{
    animation: icon-in-3 .2s linear 10 alternate ;
}
.buy-right-4:hover>.icon-out-1>.icon-in-4{
    animation: icon-in-3 .2s linear 10 alternate ;
}
@keyframes icon-in-3 {
    0%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(-15deg);
    }
}
.text-title-3{
     width: 130px;
     height: 50%;
     font-size: 18px;
     color: #5f9ff1;
     text-align: left;
     line-height: 50px;
 }
.text-info-3{
    width: 130px;
    height: 50%;
    font-size: 14px;
    color: #999999;
    text-align: left;

}
.icon-in-4{
    width:40px;
    height: 40px;
    position: absolute;
    left:17px;
    top: 21px;
    background: url("../img/goupiao.png") no-repeat -310px -80px;
    transform-origin: 40px 35px;
}.text-title-4{
     width: 130px;
     height: 50%;
     font-size: 18px;
     color: #5f9ff1;
     text-align: left;
     line-height: 50px;
 }
.text-info-4{
    width: 130px;
    height: 50%;
    font-size: 14px;
    color: #999999;
    text-align: left;

}
/*表格*/
.biaoge{
    width: 1180px;
    height: 210px;
    border: 1px #cccccc solid;
    margin: auto;
    margin-top: 30px;
}
.biaoge-left{
    width: 380px;
    height: 100%;
    border-right: 1px #ccc solid;
    float: left;
}
.biaoge-left li{
    width: 50%;
    height: 33.3%;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.biaoge-left .li-left{
    width:40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 49px;
    background: url("../img/goupiao.png") no-repeat 2px -52px;

}
.biaoge-left li:hover>.li-left{
    animation: li-left .2s linear infinite alternate;
}
.biaoge-left li:hover>.li-left2{
    animation: li-left .2s linear infinite alternate;
}
.biaoge-left li:hover>.li-left3{
    animation: li-left .2s linear infinite alternate;
}
.biaoge-left li:hover>.li-left4{
    animation: li-left .2s linear infinite alternate;
}
.biaoge-left li:hover>.li-left5{
    animation: li-left .2s linear infinite alternate;
}
.biaoge-left li:hover>.li-left6{
    animation: li-left .2s linear infinite alternate;
}
@keyframes li-left {
    0%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(-15deg);
    }
}
.biaoge-left .li-right{
    width: 50%;
    height: 100%;
    font-size: 14px;
    color: #555555;
    float: right;
     position: relative;
    line-height: 70px;
}
.li-right-new{
    width:17px;
    height: 18px;
    position: absolute;
    right: 15px;
    top: 18px;
    background: url("../img/goupiao.png") no-repeat -250px 0;
}
.biaoge-left .li-left2{
    width:40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 49px;
    background: url("../img/goupiao.png") no-repeat 2px -120px;

}
.biaoge-left .li-right2{
    width: 50%;
    height: 100%;
    font-size: 14px;
    color: #555555;
    float: right;
     
    line-height: 70px;
}
.biaoge-left .li-left3{
    width:40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 49px;
    background: url("../img/goupiao.png") no-repeat -69px -118px;

}
.biaoge-left .li-right3{
    width: 50%;
    height: 100%;
    font-size: 14px;
    color: #555555;
    float: right;
     
    line-height: 70px;
}
.biaoge-left .li-left4{
    width:40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 49px;
    background: url("../img/goupiao.png") no-repeat 2px -189px;

}
.biaoge-left .li-right4{
    width: 50%;
    height: 100%;
    font-size: 14px;
    color: #555555;
    float: right;
     
    line-height: 70px;
}
.biaoge-left .li-left5{
    width:40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 49px;
    background: url("../img/goupiao.png") no-repeat -70px -53px;

}
.biaoge-left .li-right5{
    width: 50%;
    height: 100%;
    font-size: 14px;
    color: #555555;
    float: right;
     
    line-height: 70px;
}
.biaoge-left .li-left6{
    width:40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 49px;
    background: url("../img/goupiao.png") no-repeat -70px -190px;

}
.biaoge-left .li-right6{
    width: 50%;
    height: 100%;
    font-size: 14px;
    color: #555555;
    float: right;
     
    line-height: 70px;
}
.biaoge-right {
    width:790px;
    height: 190px;
    float: left;
    margin: auto;
    position: relative;
}
.biaoge-right-1 .right-top{
    width: 410px;
    height: 32px;
    position: absolute;
    left: 10px;
    top:20px;
    line-height: 32px;
}
.biaoge-right-1 .right-top h3{
    float: left;
    font-size: 18px;
    color: #555555;
}
.biaoge-right-1 .right-top a{
    float: right;
    font-size: 12px;
    color: #555555;
    text-decoration: none;
}
.right-bottom{
    font-size: 14px;
    color: #555555;
}
.right-bottom a{
    text-decoration: none;
    color: #000;
}
.right-bottom a:hover{
    color: orange;
}
.yihang{
    width: 270px;
    height: 28px;
    position: absolute;
    left: 10px;
    top:60px;
    line-height: 28px;
}
.erhang{
    width: 270px;
    height: 28px;
    position: absolute;
    left: 10px;
    top: 85px;
    line-height: 28px;
}
.sanhang{
    width: 270px;
    height: 28px;
    position: absolute;
    left: 10px;
    top: 110px;
    line-height: 28px;
}
.sihang{
    width: 270px;
    height: 28px;
    position: absolute;
    left: 10px;
    top: 135px;
    line-height: 28px;
}

.biaoge-right-2 .right-top{
    width: 280px;
    height: 32px;

    position: absolute;
    right: 20px;
    top:20px;
    line-height: 32px;
}
.biaoge-right-2 .right-top h3{
    float: left;
    font-size: 18px;
    color: #555555;
}
.biaoge-right-2 .right-top a{
    float: right;
    font-size: 12px;
    color: #555555;
    text-decoration: none;
}
.right-bottom1{
    font-size: 14px;
    color: #555555;
}
.right-bottom1 a{
    text-decoration: none;
    color:#0055aa;
}
.right-bottom1 a:hover{
    color: orange;
}
.yihang1{
    width: 270px;
    height: 28px;
    position: absolute;
    right: 31px;
    top: 60px;
    line-height: 28px;
}
.erhang1{
    width: 270px;
    height: 28px;
    position: absolute;
    right: 31px;
    top: 85px;
    line-height: 28px;
}
.sanhang1{
    width: 270px;
    height: 28px;
    position: absolute;
    right: 31px;
    top: 110px;
    line-height: 28px;
}
.sihang1{
    width: 270px;
    height: 28px;
    position: absolute;
    right: 31px;
    top: 135px;
    line-height: 28px;
}
/*热门航线预定*/
.hotlink{

    width:1180px;
    height: 440px;
    margin: auto;
    margin-top: 40px;
}
.hotlink .hotlinkone{
    height: 50px;
    width: 100%;
    border-bottom: 3px #999999 solid;
}
.hotlinkleft{
    float: left;
    font-size: 28px;
}
.hotlinkright{
    margin-top: 5px;
    float: right;
    width: 800px;
    height: 100%;

    font-size: 18px;
}
.hotlinkright a{
    height: 48px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    float: left;
    width: 10%;
}
.hotlinkright .active{
    background-color: rgb(200,227,252);
    color:#3b8de3;
    border-bottom: #3b8de3 2px solid;
}
.hotlinkright a:hover{
    color:#3b8de3;
    border-bottom: blue 3px solid;
}
.hotlinktwo{
    width: 1198px;
    height: 360px;

    overflow: hidden;
    margin: auto;
}
.hotlinktwo .fly1{
    width: 20%;
    height: 50%;
    float: left;
    position: relative;
}
.hotlinktwo .fly1 .fly11{
    width:220px ;
    height: 134px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/go.png") no-repeat -3px;
}
.jiantou{
    width: 40px; height: 5px;
    position: absolute;
    left: 90px;
    top: 22px;
    background-image: url("../img/img.png");
    background-repeat: no-repeat;
    background-position: -29px -79px;
}
.feiji{
    width: 22px;
    height: 20px;
    position: absolute;

    left: 48px;
    bottom: 20px;
    background-image: url("../img/img.png");
    background-repeat: no-repeat;
    background-position: -39px -107px;
}
.fly11 .top{
    width: 220px;
    height: 45px;
    position: absolute;
    color: #0055aa;

}
.fly11 .top .zi1{
    width:85px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: right;
    left:0;
    bottom: 0;

}


.fly11 .top .zi2{
    width:80px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: left;
    right:0;
    bottom: 0;

}
.fly11 .middle{
    width:220px;
    height: 21px;
    position: absolute;
    left: 0;
    top:45px;
    text-align: center;
    color: #0055aa;
}
.fly11 .middle.zi3{
    font-size: 14px;
    color: #0055aa;

}
.fly11 .bottom{
    width:220px;
    height: 68px;
    position: absolute;
    bottom: 0;
}
.fly11 .bottom .zi4{
    font-size: 14px;
    color: #0055aa;
    position: absolute;
    left: 72px;
    bottom: 20px;
    
}
.fly11 .bottom .zi5{
    font-size: 16px;
    color: #ff6600;
    position: absolute;
    left: 115px;
    bottom: 18px;
}
.fly11 .zi6{
    font-size: 28px;
    color: #ff6600;
    position: absolute;
    left: 130px;
    bottom: 15px;
}

.hotlinktwo .fly1 .fly11:hover {
    background: url("../img/go.png") no-repeat -227px;


}
.fly11:hover>.top>.zi1,.fly11:hover>.top>.zi2,.fly11:hover>.middle>.zi3,.fly11:hover>.bottom>.zi4{
     color: black;
 }

.fly11:hover>.top>.jiantou{
    animation: jiantou .5s linear 1  forwards alternate;

}
.fly21:hover>.top>.jiantou{
    animation: jiantou .5s linear 1  forwards alternate;

}
.fly31:hover>.top>.jiantou{
    animation: jiantou .5s linear 1  forwards alternate;

}
.fly41:hover>.top>.jiantou{
    animation: jiantou .5s linear 1  forwards alternate;

}
.fly51:hover>.top>.jiantou{
    animation: jiantou .5s linear 1  forwards alternate;

}
.fly61:hover>.top>.jiantou{
    animation: jiantou .5s linear 1  forwards alternate;

}
.fly71:hover>.top>.jiantou{
    animation: jiantou .5s linear 1  forwards alternate;

}
.fly81:hover>.top>.jiantou{
    animation: jiantou .5s linear 1  forwards alternate;

}
.fly91:hover>.top>.jiantou{
    animation: jiantou .5s linear 1  forwards alternate;

}
.fly101:hover>.top>.jiantou{
    animation: jiantou .5s linear 1  forwards alternate;

}
@keyframes  jiantou {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(5px,0);
    }
}
.hotlinktwo .fly2{
    width: 20%;
    height: 50%;
    float: left;
    position: relative;

}
.hotlinktwo .fly2 .fly21{
    width:220px ;
    height: 134px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/go.png") no-repeat -3px;
}
.fly21 .top{
    width: 220px;
    height: 45px;
    position: absolute;
    color: #0055aa;

}
.fly21 .top .zi1{
    width:85px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: right;
    left:0;
    bottom: 0;

}


.fly21 .top .zi2{
    width:80px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: left;
    right:0;
    bottom: 0;

}
.fly21 .middle{
    width:220px;
    height: 21px;
    position: absolute;
    left: 0;
    top:45px;
    text-align: center;
    color: #0055aa;
}
.fly21 .middle.zi3{
    font-size: 14px;
    color: #0055aa;

}
.fly21 .bottom{
    width:220px;
    height: 68px;
    position: absolute;
    bottom: 0;
}
.fly21 .bottom .zi4{
    font-size: 14px;
    color: #0055aa;
    position: absolute;
    left: 72px;
    bottom: 20px;

}
.fly21 .bottom .zi5{
    font-size: 16px;
    color: #ff6600;
    position: absolute;
    left: 115px;
    bottom: 18px;
}
.fly21 .zi6{
    font-size: 28px;
    color: #ff6600;
    position: absolute;
    left: 130px;
    bottom: 15px;
}

.hotlinktwo .fly2 .fly21:hover {
    background: url("../img/go.png") no-repeat -227px;


}
.fly21:hover>.top>.zi1,.fly21:hover>.top>.zi2,.fly21:hover>.middle>.zi3,.fly21:hover>.bottom>.zi4{
    color: black;
}
.hotlinktwo .fly3{
    width: 20%;
    height: 50%;
    float: left;
    position: relative;

}
.hotlinktwo .fly3 .fly31{
    width:220px ;
    height: 134px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/go.png") no-repeat -3px;
}
.fly31 .top{
    width: 220px;
    height: 45px;
    position: absolute;
    color: #0055aa;

}
.fly31 .top .zi1{
    width:85px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: right;
    left:0;
    bottom: 0;

}


.fly31 .top .zi2{
    width:80px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: left;
    right:0;
    bottom: 0;

}
.fly31 .middle{
    width:220px;
    height: 21px;
    position: absolute;
    left: 0;
    top:45px;
    text-align: center;
    color: #0055aa;
}
.fly31 .middle.zi3{
    font-size: 14px;
    color: #0055aa;

}
.fly31 .bottom{
    width:220px;
    height: 68px;
    position: absolute;
    bottom: 0;
}
.fly31 .bottom .zi4{
    font-size: 14px;
    color: #0055aa;
    position: absolute;
    left: 72px;
    bottom: 20px;

}
.fly31 .bottom .zi5{
    font-size: 16px;
    color: #ff6600;
    position: absolute;
    left: 115px;
    bottom: 18px;
}
.fly31 .zi6{
    font-size: 28px;
    color: #ff6600;
    position: absolute;
    left: 130px;
    bottom: 15px;
}

.hotlinktwo .fly3 .fly31:hover {
    background: url("../img/go.png") no-repeat -227px;


}
.fly31:hover>.top>.zi1,.fly31:hover>.top>.zi2,.fly31:hover>.middle>.zi3,.fly31:hover>.bottom>.zi4{
    color: black;
}

.hotlinktwo .fly4{
    width: 20%;
    height: 50%;
    float: left;
    position: relative;

}
.hotlinktwo .fly4 .fly41{
    width:220px;
    height:134px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/go.png") no-repeat -3px;
}
.fly41 .top{
    width: 220px;
    height: 45px;
    position: absolute;
    color: #0055aa;

}
.fly41 .top .zi1{
    width:85px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: right;
    left:0;
    bottom: 0;

}


.fly41 .top .zi2{
    width:80px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: left;
    right:0;
    bottom: 0;

}
.fly41 .middle{
    width:220px;
    height: 21px;
    position: absolute;
    left: 0;
    top:45px;
    text-align: center;
    color: #0055aa;
}
.fly41 .middle.zi3{
    font-size: 14px;
    color: #0055aa;

}
.fly41 .bottom{
    width:220px;
    height: 68px;
    position: absolute;
    bottom: 0;
}
.fly41 .bottom .zi4{
    font-size: 14px;
    color: #0055aa;
    position: absolute;
    left: 72px;
    bottom: 20px;

}
.fly41 .bottom .zi5{
    font-size: 16px;
    color: #ff6600;
    position: absolute;
    left: 115px;
    bottom: 18px;
}
.fly41 .zi6{
    font-size: 28px;
    color: #ff6600;
    position: absolute;
    left: 130px;
    bottom: 15px;
}

.hotlinktwo .fly4 .fly41:hover {
    background: url("../img/go.png") no-repeat -227px;


}
.fly41:hover>.top>.zi1,.fly41:hover>.top>.zi2,.fly41:hover>.middle>.zi3,.fly41:hover>.bottom>.zi4{
    color: black;
}

.hotlinktwo .fly5{
    width: 20%;
    height: 50%;
    float: left;
    position: relative;

}
.hotlinktwo .fly5 .fly51{
    width:220px;
    height:134px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/go.png") no-repeat -3px;
}
.fly51 .top{
    width: 220px;
    height: 45px;
    position: absolute;
    color: #0055aa;

}
.fly51 .top .zi1{
    width:85px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: right;
    left:0;
    bottom: 0;

}


.fly51 .top .zi2{
    width:80px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: left;
    right:0;
    bottom: 0;

}
.fly51 .middle{
    width:220px;
    height: 21px;
    position: absolute;
    left: 0;
    top:45px;
    text-align: center;
    color: #0055aa;
}
.fly51 .middle.zi3{
    font-size: 14px;
    color: #0055aa;

}
.fly51 .bottom{
    width:220px;
    height: 68px;
    position: absolute;
    bottom: 0;
}
.fly51 .bottom .zi4{
    font-size: 14px;
    color: #0055aa;
    position: absolute;
    left: 72px;
    bottom: 20px;

}
.fly51 .bottom .zi5{
    font-size: 16px;
    color: #ff6600;
    position: absolute;
    left: 115px;
    bottom: 18px;
}
.fly51 .zi6{
    font-size: 28px;
    color: #ff6600;
    position: absolute;
    left: 130px;
    bottom: 15px;
}

.hotlinktwo .fly5 .fly51:hover {
    background: url("../img/go.png") no-repeat -227px;


}
.fly51:hover>.top>.zi1,.fly51:hover>.top>.zi2,.fly51:hover>.middle>.zi3,.fly51:hover>.bottom>.zi4{
    color: black;
}


.hotlinktwo .fly6{
    width: 20%;
    height: 50%;
    float: left;
    position: relative;

}
.hotlinktwo .fly6 .fly61{
    width:220px;
    height:134px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/go.png") no-repeat -3px;
}
.fly61 .top{
    width: 220px;
    height: 45px;
    position: absolute;
    color: #0055aa;

}
.fly61 .top .zi1{
    width:85px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: right;
    left:0;
    bottom: 0;

}


.fly61 .top .zi2{
    width:80px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: left;
    right:0;
    bottom: 0;

}
.fly61 .middle{
    width:220px;
    height: 21px;
    position: absolute;
    left: 0;
    top:45px;
    text-align: center;
    color: #0055aa;
}
.fly61 .middle.zi3{
    font-size: 14px;
    color: #0055aa;

}
.fly61 .bottom{
    width:220px;
    height: 68px;
    position: absolute;
    bottom: 0;
}
.fly61 .bottom .zi4{
    font-size: 14px;
    color: #0055aa;
    position: absolute;
    left: 72px;
    bottom: 20px;

}
.fly61 .bottom .zi5{
    font-size: 16px;
    color: #ff6600;
    position: absolute;
    left: 115px;
    bottom: 18px;
}
.fly61 .zi6{
    font-size: 28px;
    color: #ff6600;
    position: absolute;
    left: 130px;
    bottom: 15px;
}

.hotlinktwo .fly6 .fly61:hover {
    background: url("../img/go.png") no-repeat -227px;


}
.fly61:hover>.top>.zi1,.fly61:hover>.top>.zi2,.fly61:hover>.middle>.zi3,.fly61:hover>.bottom>.zi4{
    color: black;
}
.hotlinktwo .fly7{
    width: 20%;
    height: 50%;
    float: left;
    position: relative;

}
.hotlinktwo .fly7 .fly71{
    width:220px;
    height:134px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/go.png") no-repeat -3px;
}
.fly71 .top{
    width: 220px;
    height: 45px;
    position: absolute;
    color: #0055aa;

}
.fly71 .top .zi1{
    width:85px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: right;
    left:0;
    bottom: 0;

}


.fly71 .top .zi2{
    width:80px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: left;
    right:0;
    bottom: 0;

}
.fly71 .middle{
    width:220px;
    height: 21px;
    position: absolute;
    left: 0;
    top:45px;
    text-align: center;
    color: #0055aa;
}
.fly71 .middle.zi3{
    font-size: 14px;
    color: #0055aa;

}
.fly71 .bottom{
    width:220px;
    height: 68px;
    position: absolute;
    bottom: 0;
}
.fly71 .bottom .zi4{
    font-size: 14px;
    color: #0055aa;
    position: absolute;
    left: 72px;
    bottom: 20px;

}
.fly71 .bottom .zi5{
    font-size: 16px;
    color: #ff6600;
    position: absolute;
    left: 115px;
    bottom: 18px;
}
.fly71 .zi6{
    font-size: 28px;
    color: #ff6600;
    position: absolute;
    left: 130px;
    bottom: 15px;
}

.hotlinktwo .fly7 .fly71:hover {
    background: url("../img/go.png") no-repeat -227px;


}
.fly71:hover>.top>.zi1,.fly71:hover>.top>.zi2,.fly71:hover>.middle>.zi3,.fly71:hover>.bottom>.zi4{
    color: black;
}
.hotlinktwo .fly8{
    width: 20%;
    height: 50%;
    float: left;
    position: relative;

}
.hotlinktwo .fly8 .fly81{
    width:220px;
    height:134px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/go.png") no-repeat -3px;
}
.fly81 .top{
    width: 220px;
    height: 45px;
    position: absolute;
    color: #0055aa;

}
.fly81 .top .zi1{
    width:85px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: right;
    left:0;
    bottom: 0;

}


.fly81 .top .zi2{
    width:80px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: left;
    right:0;
    bottom: 0;

}
.fly81 .middle{
    width:220px;
    height: 21px;
    position: absolute;
    left: 0;
    top:45px;
    text-align: center;
    color: #0055aa;
}
.fly81 .middle.zi3{
    font-size: 14px;
    color: #0055aa;

}
.fly81 .bottom{
    width:220px;
    height: 68px;
    position: absolute;
    bottom: 0;
}
.fly81 .bottom .zi4{
    font-size: 14px;
    color: #0055aa;
    position: absolute;
    left: 72px;
    bottom: 20px;

}
.fly81 .bottom .zi5{
    font-size: 16px;
    color: #ff6600;
    position: absolute;
    left: 115px;
    bottom: 18px;
}
.fly81 .zi6{
    font-size: 28px;
    color: #ff6600;
    position: absolute;
    left: 130px;
    bottom: 15px;
}

.hotlinktwo .fly8 .fly81:hover {
    background: url("../img/go.png") no-repeat -227px;


}
.fly81:hover>.top>.zi1,.fly81:hover>.top>.zi2,.fly81:hover>.middle>.zi3,.fly81:hover>.bottom>.zi4{
    color: black;
}
.hotlinktwo .fly9{
    width: 20%;
    height: 50%;
    float: left;
    position: relative;

}
.hotlinktwo .fly9 .fly91{
    width:220px;
    height:134px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/go.png") no-repeat -3px;
}
.fly91 .top{
    width: 220px;
    height: 45px;
    position: absolute;
    color: #0055aa;

}
.fly91 .top .zi1{
    width:85px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: right;
    left:0;
    bottom: 0;

}


.fly91 .top .zi2{
    width:80px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: left;
    right:0;
    bottom: 0;

}
.fly91 .middle{
    width:220px;
    height: 21px;
    position: absolute;
    left: 0;
    top:45px;
    text-align: center;
    color: #0055aa;
}
.fly91 .middle.zi3{
    font-size: 14px;
    color: #0055aa;

}
.fly91 .bottom{
    width:220px;
    height: 68px;
    position: absolute;
    bottom: 0;
}
.fly91 .bottom .zi4{
    font-size: 14px;
    color: #0055aa;
    position: absolute;
    left: 72px;
    bottom: 20px;

}
.fly91 .bottom .zi5{
    font-size: 16px;
    color: #ff6600;
    position: absolute;
    left: 115px;
    bottom: 18px;
}
.fly91 .zi6{
    font-size: 28px;
    color: #ff6600;
    position: absolute;
    left: 130px;
    bottom: 15px;
}

.hotlinktwo .fly9 .fly91:hover {
    background: url("../img/go.png") no-repeat -227px;


}
.fly91:hover>.top>.zi1,.fly91:hover>.top>.zi2,.fly91:hover>.middle>.zi3,.fly91:hover>.bottom>.zi4{
    color: black;
}

.hotlinktwo .fly10{
    width: 20%;
    height: 50%;
    float: left;
    position: relative;

}
.hotlinktwo .fly10 .fly101{
    width:220px;
    height:134px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/go.png") no-repeat -3px;
}
.fly101 .top{
    width: 220px;
    height: 45px;
    position: absolute;
    color: #0055aa;

}
.fly101 .top .zi1{
    width:85px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: right;
    left:0;
    bottom: 0;

}


.fly101 .top .zi2{
    width:80px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: left;
    right:0;
    bottom: 0;

}
.fly101 .middle{
    width:220px;
    height: 21px;
    position: absolute;
    left: 0;
    top:45px;
    text-align: center;
    color: #0055aa;
}
.fly101 .middle.zi3{
    font-size: 14px;
    color: #0055aa;

}
.fly101 .bottom{
    width:220px;
    height: 68px;
    position: absolute;
    bottom: 0;
}
.fly101 .bottom .zi4{
    font-size: 14px;
    color: #0055aa;
    position: absolute;
    left: 72px;
    bottom: 20px;

}
.fly101 .bottom .zi5{
    font-size: 16px;
    color: #ff6600;
    position: absolute;
    left: 115px;
    bottom: 18px;
}
.fly101 .zi6{
    font-size: 28px;
    color: #ff6600;
    position: absolute;
    left: 130px;
    bottom: 15px;
}

.hotlinktwo .fly10 .fly101:hover {
    background: url("../img/go.png") no-repeat -227px;


}
.fly101:hover>.top>.zi1,.fly101:hover>.top>.zi2,.fly101:hover>.middle>.zi3,.fly101:hover>.bottom>.zi4{
    color: black;
}
/*热门航空公司*/
.company{
    width: 1180px;
    height: 500px;
    margin: auto;
}
.c-top{
    width: 100%;
    height: 50px;
    border-bottom: 3px solid #cccccc;
    line-height: 50px;
}
.c-top h2{
    font-size: 28px;
    color: #555555;
    float: left;
    margin-left: 5px;
}
.c-top-img{
    width: 11px;
    height: 9px;
    background: url("../img/img.png") no-repeat -324px -415px;
    float: right;
    margin-top: 20px;
}
.c-tom{
    width: 100%;
    height: 450px;
    position: relative;
}
.c-t-left{
    width: 40%;
    height: 416px;
    float: left;
    position: absolute;
    bottom: 13px;
    background-color: rgb(246,246,246);
}

.zhengti:hover>a .c-t-l-picture{
    animation: c-t-l-picture 1s linear  forwards;
}
@keyframes c-t-l-picture {
    0%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(1.05,1.04);
    }
}
.zhengti{
    width: 220px;
    height: 243px;
    position: absolute;
    left: 15px;
    top: 60px;
    overflow: hidden;
}
.c-t-l-timu{
    width: 220px;
    height: 37px;
    background-color: #cccccc;
    margin-top: 0;
    position: absolute;
    top: 161px;
    z-index: 1;

}
.c-t-l-picture{
    width: 220px;
    height: 162px;
    background: url("../img/ca3.png") no-repeat;
    position: absolute;
}
.c-t-l-timu span{
    font-size: 12px;
    color: #555555;
    line-height: 37px;
    padding-left: 64px;
}
.c-t-l-wenzi{
    width: 192px;
    height: 230px;
    position: absolute;
    right: 10px;
    top: 60px;
    text-indent: 1em;
}
.c-t-l-wenzi span{
    font-size: 12px;
    color: #555555;
}
.c-t-l-yinhao{
    width: 29.6px;
    height: 30px;
    background: url("../img/goupiao.png") no-repeat -370px -270px;
    position: absolute;
    right: 10px;
    top: 330px;
}
.c-t-right{
    width: 709px;
    height: 430px;

    position: absolute;
    bottom: 0;
    right: 0;
}
.c-t-right li{
    width: 33%;
    height: 50%;
    float: left;

    position: relative;
}
.c-t-right li .yi{
    width: 220px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}
.c-t-right li .yi .tu1{
    width: 220px;
    height: 200px;
    background: url("../img/tu1.png") no-repeat ;
}
.c-t-right li .yi .tu2{
    width: 220px;
    height: 200px;
    background: url("../img/tu2.png") no-repeat ;
}
.c-t-right li .yi .tu3{
    width: 220px;
    height: 200px;
    background: url("../img/tu3.png") no-repeat ;
}
.c-t-right li .yi .tu4{
    width: 220px;
    height: 200px;
    background: url("../img/tu4.png") no-repeat ;
}
.c-t-right li .yi .tu5{
    width: 220px;
    height: 200px;
    background: url("../img/tu5.png") no-repeat ;
}
.c-t-right li .yi .tu6{
    width: 220px;
    height: 200px;
    background: url("../img/tu6.png") no-repeat ;
}
.c-t-right li .yi:hover .tu1 ,.c-t-right li .yi:hover .tu2,.c-t-right li .yi:hover .tu3,
.c-t-right li .yi:hover .tu4,.c-t-right li .yi:hover .tu5,.c-t-right li .yi:hover .tu6{
    animation: c-t-right 1s linear forwards;
}
@keyframes c-t-right {
    0%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(1.05,1.04);
    }
}
.c-t-right li .yi .heibian{
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0,0.4);
    position: absolute;
    bottom: 0;
    line-height: 40px;

}
.c-t-right li .yi .heibian span{
    color: white;
    margin-left: 47px;
}
/*热门机场*/
.airport{
    width: 1180px;
    height: 352px;
    margin: auto;
    margin-top: 30px;
}
.a-left{
    width: 340px;
    height: 100%;
    float: left;
}
.a-l-top{
    width: 340px;
    height: 40px;
    border-bottom: 2px #cccccc solid;
}
.a-l-top h2{
    font-size: 28px;
    color: #555555;
    float: left;
    margin-left: 9px;
}
.a-l-t-tu{
    width: 11px;
    height: 9px;
    background: url("../img/img.png") no-repeat -324px -415px;
    float: right;
    margin-top: 20px;
    margin-right: -80px;
}
.a-middle .a-l-top .a-l-t-tu{
    width: 11px;
    height: 9px;
    background: url("../img/img.png") no-repeat -324px -415px;
    float: right;
    margin-top: 20px;
    margin-right: -50px;
}
.a-l-top a{
    text-decoration: none;
    font-size: 16px;
    color: #666666;
    float: right;
    margin-right: 20px;
    margin-top: 13px;
}
.a-l-bot{
    width: 340px;
    height: 310px;
    margin: auto;
    margin-bottom: 0;
}
.a-l-bot a{
    width: 50%;
    height: 12.5%;
    float: left;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    color: #0055aa;
    line-height: 38.75px;
    padding-left: 12px;
}
.a-l-bot a:hover{
    color: orange;
}
.xiaojiantou{
    width: 11px;
    height: 9px;
    background: url("../img/up.gif") no-repeat ;
    float: left;
    margin-top: 17px;
}
.a-middle{
    width: 340px;
    height: 100%;
    float: left;
    margin-left: 20px;
}
.a-m-bom{
    width: 340px;
    height: 310px;
    margin: auto;
}
.a-m-bom li{
    width: 318px;
    height: 16.6%;
    margin-left: 13px ;
    margin-top: 7px;
    position: relative;
}

.a-m-bom li span{
    font-size: 16px;
    color: #666666;
}
.a-m-bom li a{
    font-size: 16px;
    color: #0055aa;
    text-decoration: none;
    float: left;
}
.xiaojiantou1{
    width: 11px;
    height: 9px;
    background: url("../img/up.gif") no-repeat ;
    position: absolute;
    left: -12px;
    top:27px;
}
.a-right{
    width: 460px;
    height: 196px;
    float: left;
    margin-left: 20px;
}
.country{
    width: 240px;
    height: 42px;
    float: right;

}
.country a {
    width: 80px;
    height: 42px;
    text-align: center;
    float: left;
    font-size: 18px;
    color: #555555;
    text-decoration: none;
}
.a-l-top-right{
    width: 460px;
    height: 40px;
    border-bottom: 2px #cccccc solid;
}
.a-l-top-right h2{
    font-size: 28px;
    color: #555555;
    float: left;
    margin-left: 9px;
}
.country .active{
    background-color: #c8e3fc;
}
.ul{
    width: 50%;
    height: 160px;
}
.hotlinktwo .fly2{
    width: 20%;
    height: 50%;
    float: left;
    position: relative;

}
.hotlinktwo .fly2 .fly21{
    width:220px ;
    height: 134px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/go.png") no-repeat -3px;
}
.fly21 .top{
    width: 220px;
    height: 45px;
    position: absolute;
    color: #0055aa;

}
.fly21 .top .zi1{
    width:85px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: right;
    left:0;
    bottom: 0;

}


.fly21 .top .zi2{
    width:80px;
    height: 40px;
    position: absolute;
    line-height: 40px;
    text-align: left;
    right:0;
    bottom: 0;

}
.fly21 .middle{
    width:220px;
    height: 21px;
    position: absolute;
    left: 0;
    top:45px;
    text-align: center;
    color: #0055aa;
}
.fly21 .middle.zi3{
    font-size: 14px;
    color: #0055aa;

}
.fly21 .bottom{
    width:220px;
    height: 68px;
    position: absolute;
    bottom: 0;
}
.fly21 .bottom .zi4{
    font-size: 14px;
    color: #0055aa;
    position: absolute;
    left: 72px;
    bottom: 20px;

}
.fly21 .bottom .zi5{
    font-size: 16px;
    color: #ff6600;
    position: absolute;
    left: 115px;
    bottom: 18px;
}
.fly21 .zi6{
    font-size: 28px;
    color: #ff6600;
    position: absolute;
    left: 130px;
    bottom: 15px;
}

.hotlinktwo .fly2 .fly21:hover {
    background: url("../img/go.png") no-repeat -227px;


}
.fly21:hover>.top>.zi1,.fly21:hover>.top>.zi2,.fly21:hover>.middle>.zi3,.fly21:hover>.bottom>.zi4{
    color: black;
}



























































